<?xml version="1.0"?>
<!--
/**
 * Events Configuration
 * Observes sales order placement event
 *
 * @category  Learning
 * @package   Learning_OrderEmailQueue
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <!-- Listen to checkout submit event to ensure order is fully saved -->
    <event name="checkout_submit_all_after">
        <observer name="learning_order_email_queue_observer"
                  instance="Learning\OrderEmailQueue\Observer\OrderPlaceAfterObserver"/>
    </event>
</config>
