<?xml version="1.0"?>
<!--
/**
 * Admin System Configuration
 *
 * @category  Learning
 * @package   Learning_OrderEmailQueue
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="learning" translate="label" sortOrder="400">
            <label>Learning Modules</label>
        </tab>

        <section id="learning_order_email_queue" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Order Email Queue</label>
            <tab>learning</tab>
            <resource>Learning_OrderEmailQueue::config</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Queue</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable asynchronous order email processing via message queue</comment>
                </field>

                <field id="max_retry_attempts" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max Retry Attempts</label>
                    <validate>validate-digits validate-greater-than-zero</validate>
                    <comment>Number of retry attempts before moving message to dead letter queue (default: 3)</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="batch_size" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Batch Size</label>
                    <validate>validate-digits validate-greater-than-zero</validate>
                    <comment>Number of messages to process per consumer run (default: 100)</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>

            <group id="testing" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Testing Settings</label>

                <field id="simulate_failures" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Simulate Random Failures</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable to simulate 20% failure rate for testing retry and DLQ functionality</comment>
                </field>
            </group>
        </section>
    </system>
</config>
